html, body {
  background-color: #07003b;
  background-image: url("https://www.transparenttextures.com/patterns/circles.png");
  display: flex;
  align-items: center;
  justify-content: center;

}


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Sunflower', sans-serif;
}
h2 {
  font-family: 'Sunflower', sans-serif;
}


.col {
  border: 1px solid black;
}
.col-3 {
  border: 1px solid black;
  background-color: red;
  height: 150px;
}
.col-auto {
  background-color: pink;
}
.page {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}


.content {
  height: 100vh;
  width: 90vw;
  max-width: 950px;
  background-color: #EFEFF2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-left: 2vw solid #fffafa;
  border-right: 2vw solid #fffafa;
  box-shadow: 10px 0 15px -1px, -10px 0 18px -1px;
}

@media only screen and (max-width: 850px) {
  .page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h2 {
   display: none;
  }

  .content {

    flex-direction: column;

  }


}