body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.col {
  border: 1px solid black;
}
.col-3 {
  border: 1px solid black;
  background-color: red;
  height: 150px;
}
.col-auto {
  background-color: pink;
}
.page {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}


.content {
  height: 70vh;
  width: 90vw;
  padding: 10vh;
  background-image: linear-gradient(135deg, #fdfcfb 20%, #e2d1c3 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
}