ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;



}

li {
    color: white;
    text-align: center;
    padding: 8px;
}

li a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 8px;

}

li a:hover {
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

.logo {
    margin-left: auto;
}