
.left {
    height: 50vh;
    width: 50vh;
    padding: 3vh;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;

}

.right {
    width: 50vh;
    padding: 3vh;
    display: flex;
    flex-direction: column;


}

#messageContent {
    height: 40vh;
}

