
.rightS {
    width: 50vh;
    padding: 3vh;
    display: flex;
    flex-direction: column;

}

#messageContent {
    height: 40vh;
}

.settings {
    max-width: 350px;
}

.inviteBox {

    height: 50vh;
    width: 20vw;
    display: flex;
    justify-content: center;
}

.left {

    height: 65vh;
}

.short {

    width: 10vw;
    margin-top: 1vh;
}