
.left {
    height: 50vh;
    width: 50vh;
    padding: 3vh;
    border-right: 1px solid black;
}

.right {
    width: 50vh;
    width: 50vh;
    padding: 3vh;

}

#messageContent {
    height: 40vh;
}
