label {
  margin: 5px 20px;
  color: white;
  height: initial;
  width: initial;
  position: initial;
  transform: initial;
}

textarea {
  margin: 20px;
  height: 300px;
  resize: none;
}
