.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 50vh;
  color: white;

}

.signup {
  display: flex;
  width: 35vw;
  height: 80vh;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #f99d2c;
  border-bottom: 1px solid #f99d2c;
}

.signuphead {
  transform: rotate(270deg);

  font-size: 10vh;
  color: #f99d2c;
  white-space: nowrap;
  font-family: 'Jacques Francois Shadow', cursive;
  margin: -10vw;
}

.in {
  transform: rotate(90deg);
}




@media only screen and (max-width: 950px) {
  .signuphead {
    font-size: 6vh;
  }
}


@media only screen and (max-width: 700px) {
  .page {
    flex-direction: column;
  }

  .signup {
    flex-direction: column;
    justify-content: center;
  }
  .signuphead {
    transform: none;
    margin-bottom: 2vh;
    font-size: 6vw;
  }
}
